body{
    background-color: lightgoldenrodyellow;
    font-family: Helvetica, sans-serif;
}

.topnav {
    background-color: orchid;
    overflow: hidden;
    font-family: Helvetica, sans-serif;
  }

  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
  }

  .topnav a:hover{
    background-color: #ffa1a1;
    color: black;
  }

  .topnav a.active{
    background-color: lightcoral;
    color: white;
  }

 .product
  {
    color:black;
    font-size: medium;
    text-align: left;

  }
